@charset "UTF-8";

body{
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	background-color: #DCDCDC;

}

div#interface{
	width:80%;
	background-color:#ffffff;
	margin: 2px auto 0px auto; /*ficara centralizado*/
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	padding:10px; /*centalizar internamente*/
	position:relative;/*colocar position:relative;*/
}




header#cabecalho {
border-bottom: 1px #606060 solid; /*dashed, dotted*/
height: 100%;

 }

header#cabecalho h1 {
  font-family:'FonteLogo', sans-serif;/*substituir Arial*/
  font-size: 30pt; /*pontos*/
  color: #606060;
  text-shadow: 1px 1px 1px rgba(0,0,0,.6);
  padding: 9px; /*0px*/
  margin-bottom: 7px;/*0px*/
/*se deixar o menu fica desconfigurado padding: 0px;
  margin-bottom: 0px;  */
  
}

header#cabecalho h2 {
  font-family:'Titillium web', sans-serif;/*substituir Arial, */
  font-size: 15pt;
  color: #888888;
  padding: 0px;/*0px*/
  margin-top: 1px;/*1px*/
}







nav#menu {
         display:block;/*menur a ser exibido como um bloco flutuar na tela*/
          }
nav#menu ul{
      list-style: none;
      text-transform: uppercase;
      position:relative; /*ou relativo*/
      top: -137px;/*posições do menu* -6*/
      left: 69%;
      }

nav#menu li{
      display:inline-block; /*bloco/menu exibido na mesma linha*/
      background-color: #dddddd;
      padding: 10px;/*criou um espaço nos menus dentro do objeto*/
      margin: 2px; 
/*transition: background-color 3s; /*ao passar ao mouse por quanto tempo vai durar que ele mude de cor
-webkit-transition: background-color 3s; para navegador safari*/

      }

 nav#menu li:hover {
 display: inline-block;
 background-color:#999; /*background-color: #6A6A6A;*/
 padding: 10px;
 margin: 2px;
}

nav#menu h1{
        display:none;
         /*desaparecer título menu principal*/
      }

nav#menu a {
 color:#000000;
 text-decoration:none; /*tirar sublinhado*/

}

nav#menu a:hover{
 color:#ffffff; 
 /*text-decoration:underline;deixar sublinhado sublinhado*/
 transition: color 2s;
}

section form {
  text-align: center;
  font-family: sans-serif;
  font-style: black;
}

section form p{
  color: black;
}